*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family:'Inconsolata';
    src: url("./Inconsolata-VariableFont_wdth,wght.ttf");
}
@font-face {
    font-family:'Space Mono';
    src: url("./SpaceMono-Regular.ttf");
}

@font-face {
    font-family:'Montserrat';
    src: url("./Montserrat-Regular.ttf");
}
.contenedor{
    display: flex;
    flex-direction: row; 
    
}
.col-1{
    width: 50%;
    
}
.col-2{
    width: 50%;
    text-align: left;
    
}
.titulo{

    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    
   
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.imagen1{
    height: 400px;
width: 500px;
left: 77px;
top: 265px;
border-radius: 0px;

position: absolute;
left: 5.35%;
right: 57.21%;
top: 24.54%;
bottom: 34.03%;
}

.titulo2{
position: absolute;
width: 586px;
height: 190px;
left: 735px;
top: 160px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 95px;
letter-spacing: -0.035em;
}

.parrafo1{
color: #4F4F4F;
position: absolute;
width: 381px;
height: 108px;
left: 736px;
top: 350px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
letter-spacing: -0.035em;
}

.boton{
    position: absolute;
width: 216px;
height: 68px;
left: 740px;
top: 480px;

/* Gray 1 */

background: #333333;
}

.footer{
position: absolute;
width: 287px;
height: 17px;
left: 500px;
top: 600px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #BDBDBD;
}